.header {
    width: 1512px;
    height: 100px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    text-align: center;
        border: 1px solid #E0DFDE
}

.header__logo{
    color: #8B7969;
}
